*{
    margin: 0;
    padding: 0;
}
#box{
    position: relative;
    width: 100%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid #aaa;
}
#list{
    position: absolute;
    width: 100%;
    height: 400px;
}
#list li{
    position: absolute;
    width: 100%;
    height: 400px;
    list-style: none;
}
#list img{
    width: 100%;
    height: 100%;
}
#buttons{
    position: absolute;
    width: 12%;
    height: 10px;
    left: 44%;
    bottom: 5px;
    z-index: 999;
}
#buttons span{
    float: left;
    width: 15%;
    height: 10px;
    margin-right: 5%;
    border: 1px solid grey;
    border-radius: 80%;
    z-index: 999;
}
.arrow{
    position: absolute;
    top: 180px;
    width: 40px;
    height: 40px;
    font-size: 39px;
    font-weight: bold;
    line-height: 38px;
    display: none;
    color: grey;
    background: rgba(0,0,0,.3);
    z-index: 999;
}
#box:hover .arrow{
    display: block;
}
.arrow:hover{
    background: rgba(250,250,0,.7);
}
#prev{
    left: 5px;
}
#next{
    right: 5px;
}
#buttons .on{
    background: grey;
}
#buttons span:hover{
    cursor: pointer;
}